.application#application
    .container
        h2 СФЕРЫ ПРИМЕНЕНИЯ
        .tab_wrap
            ul.tab_title.wrapcube
                li.tab_title__item.active#a.cube
                    .side.front HOVER ME
                    .side.left
                    .side.right
                    .side.back
                    .side.top
                    .side.bottom
                li.tab_title__item#b.cube
                    .side.front HOVER ME
                    .side.left
                    .side.right
                    .side.back
                    .side.top
                    .side.bottom
                li.tab_title__item#c.cube
                    .side.front HOVER ME
                    .side.left
                    .side.right
                    .side.back
                    .side.top
                    .side.bottom
                li.tab_title__item#d.cube
                    .side.front HOVER ME
                    .side.left
                    .side.right
                    .side.back
                    .side.top
                    .side.bottom
                li.tab_title__item#e.cube
                    .side.front HOVER ME
                    .side.left
                    .side.right
                    .side.back
                    .side.top
                    .side.bottom
                li.tab_title__item#f.cube
                    .side.front HOVER ME
                    .side.left
                    .side.right
                    .side.back
                    .side.top
                    .side.bottom

            .tab_content
                .tab_content__item.active Архитектор — это творец, который придумывает и проектирует здания, формирует 		    городское пространство. Идля этого ему требуется максимальная свобода для реализации всех творческих идей. Renga Architecture совмещает свободное моделирование с объектным представлением строительных элементов, что позволяет продумать архитектурный облик здания, придать ему законченный внешний вид, сделать строение практичным и безопасным, удобным для жизни и работы людей. Модель, созданная в Renga Architecture, максимально точно передаст замысел архитектора и будет одинаково понятна и конструктору, и инженеру. Система легка в использовании, а интерфейсные решения позволяют длительно работать над проектом без нагрузки на глаза.
                .tab_content__item | Ling yellowtail flagtail southern flounder. Ribbon eel northern pike glass knifefish cepalin barbelless catfish cusk-eel ridgehead, mahi-mahi. Glass knifefish snubnose eel pompano dolphinfish lemon shark salmon duckbilled barracudina common tunny skate, codlet. Perch tarpon, zebra pleco--round herring jewfish, New Zealand sand diver. Spiny dwarf catfish slickhead clown triggerfish. Shad New Zealand sand diver cavefish banjo catfish bamboo shark spiny basslet, pigfish handfish.
                .tab_content__item | Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
                .tab_content__item Архитектор — это творец, который придумывает и проектирует здания, формирует 		    городское пространство. Идля этого ему требуется максимальная свобода для реализации всех творческих идей. Renga Architecture совмещает свободное моделирование с объектным представлением строительных элементов, что позволяет продумать архитектурный облик здания, придать ему законченный внешний вид, сделать строение практичным и безопасным, удобным для жизни и работы людей. Модель, созданная в Renga Architecture, максимально точно передаст замысел архитектора и будет одинаково понятна и конструктору, и инженеру. Система легка в использовании, а интерфейсные решения позволяют длительно работать над проектом без нагрузки на глаза.
                .tab_content__item Архитектор — это творец, который придумывает и проектирует здания, формирует 		    городское пространство. Идля этого ему требуется максимальная свобода для реализации всех творческих идей. Renga Architecture совмещает свободное моделирование с объектным представлением строительных элементов, что позволяет продумать архитектурный облик здания, придать ему законченный внешний вид, сделать строение практичным и безопасным, удитектор — это творец, который придумывает и проектирует здания, формирует 		    городское пространство. Идля этого ему требуется максимальная свобода для реализации всех творческих идей. Renga Architecture совмещает свободное моделирование с объектным представлением строительных элементов, что позволяет продумать архитектурный облик здания, придать ему законченный внешний вид, сделать строение практичным и безопасным, удобным для жизни и работы людей. Модель, созданная в Renga Architecture, максимально точно передаст замысел архитектора и будет одинаково понятна и конструктору, и инженеру. Система легка в использовании, а интерфейсные решения позволяют длительно работать над проектом без нагрузки на глаза.
                .tab_content__item Архитектор — это творец, который придумывает и проектирует здания, формирует 		    городское пространство. Идля этого ему требуется максимальная свобода для реализации всех творческих идей. Renga Architecture совмещает свободное моделирование с объектным представлением строительных элементов, что позволяет продумать архитектурный облик здания, придать ему законченный внешний вид, сделать строение практичным и безопасным, удобным для жизни и работы людей. Модель, созданная в Renga Architecture, максимально точно передаст замысел архитектора и будет одинаково понятна и конструктору, и инженеру. Система легка в использовании, а интерфейсные решения позволяют длительно работать над проектом без нагрузки на глаза.
