.description
    .description_top
        h2 ОПИСАНИЕ ПРОГРАММЫ
        p <b>Renga</b>  — российский продукт для трехмерного архитектурно-строительного проектирования, ориентированный на проектные организации различного масштаба: от небольших и средних компаний, мастерских, бюро и проектно-конструкторских отделов промышленных предприятий.
    .container
        .tab_wrap
            .tab_title
                .flex_row__end
                    .description_version Версия RENGA:
                    .flex_row__end
                        .tab_title__item.active Architecture
                        .tab_title__item Structure

            .tab_content#video
                .tab_content__item.active
                    .tab_content__title.flex_column.align_center
                        h3 Видео знакомство с <b>Renga Architecture</b>
                        div На примере построения лестниц:
                    .video_wrap
                        .video_current__wrap
                            <iframe class='video_current' width="760" height="420" src="https://www.youtube.com/embed/3bRnhmNJK30?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        .video_tab
                            <a class='video_link active' href='https://www.youtube.com/embed/3bRnhmNJK30?rel=0'> Видео 1</a>
                            | /
                            a(class='video_link' href='https://www.youtube.com/embed/rkB-8erpnS4?rel=0') Видео 2
                            | /
                            a(class='video_link' href='https://www.youtube.com/embed/f-hozTI6PvA?rel=0') Видео 3

                    ul.accordion#description
                        li
                            .title
                                i.arrow
                                h3 3D-проектирование
                            .content
                                p Система Renga позволяет осуществлять импорт/экспорт проектных данных модели во многие форматы данных, среди которых BIM-формат IFC
                                p Renga способна сохранять результаты в форматах .ifc, .dxf, что позволяет использовать трехмерные и двухмерные данные проекта на всех этапах коллективной работы над проектом. Информационный обмен со сметами и сохранение данных в форме таблиц достигнуты при помощи формата .csv. Через импорт формата .c3d осуществляется взаимосвязь с КОМПАС-3D и технологией MinD.
                        li
                            .title
                                i.arrow
                                h3 Интерфейс
                            .content
                                p Renga способна сохранять результаты в форматах .ifc, .dxf, что позволяет использовать трехмерные и двухмерные данные проекта на всех этапах коллективной работы над проектом. Информационный обмен со сметами и сохранение данных в форме таблиц достигнуты при помощи формата .csv. Через импорт формата .c3d осуществляется взаимосвязь с КОМПАС-3D и технологией MinD.
                        li
                            .title
                                i.arrow
                                h3 Навигация по проекту
                            .content
                                | Ling yellowtail flagtail southern flounder. Ribbon eel northern pike glass knifefish cepalin barbelless catfish cusk-eel ridgehead, mahi-mahi. Glass knifefish snubnose eel pompano dolphinfish lemon shark salmon duckbilled barracudina common tunny skate, codlet. Perch tarpon, zebra pleco--round herring jewfish, New Zealand sand diver. Spiny dwarf catfish slickhead clown triggerfish. Shad New Zealand sand diver cavefish banjo catfish bamboo shark spiny basslet, pigfish handfish.
                        li
                            .title
                                i.arrow
                                h3 Без справочников и баз данных
                            .content
                                p Система Renga позволяет осуществлять импорт/экспорт проектных данных модели во многие форматы данных, среди которых BIM-формат IFC

                        li
                            .title
                                i.arrow
                                h3 Компоновка чертежей
                            .content
                                p Система Renga позволяет осуществлять импорт/экспорт проектных данных модели во многие форматы данных, среди которых BIM-формат IFC
                                p Renga способна сохранять результаты в форматах .ifc, .dxf, что позволяет использовать трехмерные и двухмерные данные проекта на всех этапах коллективной работы над проектом. Информационный обмен со сметами и сохранение данных в форме таблиц достигнуты при помощи формата .csv. Через импорт формата .c3d осуществляется взаимосвязь с КОМПАС-3D и технологией MinD.
                        li
                            .title
                                i.arrow
                                h3 Обмен данными

                            .content
                                p Система Renga позволяет осуществлять импорт/экспорт проектных данных модели во многие форматы данных, среди которых BIM-формат IFC
                                p Renga способна сохранять результаты в форматах .ifc, .dxf, что позволяет использовать трехмерные и двухмерные данные проекта на всех этапах коллективной работы над проектом. Информационный обмен со сметами и сохранение данных в форме таблиц достигнуты при помощи формата .csv. Через импорт формата .c3d осуществляется взаимосвязь с КОМПАС-3D и технологией MinD.
                                img(src='img/description-accordion-content.jpg' alt='')


                .tab_content__item
                    .tab_content__title.flex_column.align_center
                        h3 Знакомство с <b>Renga Structure</b>
                        div На лестнице:

                    .video_wrap
                        img(src='img/description-accordion-content.jpg' alt='')

                    ul.accordion
                        li
                            .title
                                i.arrow
                                h3 3D-проектирование
                            .content
                                p Система Renga позволяет осуществлять импорт/экспорт проектных данных модели во многие форматы данных, среди которых BIM-формат IFC
                                p Renga способна сохранять результаты в форматах .ifc, .dxf, что позволяет использовать трехмерные и двухмерные данные проекта на всех этапах коллективной работы над проектом. Информационный обмен со сметами и сохранение данных в форме таблиц достигнуты при помощи формата .csv. Через импорт формата .c3d осуществляется взаимосвязь с КОМПАС-3D и технологией MinD.
                        li
                            .title
                                i.arrow
                                h3 Интерфейс
                            .content
                                p Renga способна сохранять результаты в форматах .ifc, .dxf, что позволяет использовать трехмерные и двухмерные данные проекта на всех этапах коллективной работы над проектом. Информационный обмен со сметами и сохранение данных в форме таблиц достигнуты при помощи формата .csv. Через импорт формата .c3d осуществляется взаимосвязь с КОМПАС-3D и технологией MinD.
                        li
                            .title
                                i.arrow
                                h3 Навигация по проекту
                            .content
                                | Ling yellowtail flagtail southern flounder. Ribbon eel northern pike glass knifefish cepalin barbelless catfish cusk-eel ridgehead, mahi-mahi. Glass knifefish snubnose eel pompano dolphinfish lemon shark salmon duckbilled barracudina common tunny skate, codlet. Perch tarpon, zebra pleco--round herring jewfish, New Zealand sand diver. Spiny dwarf catfish slickhead clown triggerfish. Shad New Zealand sand diver cavefish banjo catfish bamboo shark spiny basslet, pigfish handfish.