.done
    .container
        h2 Проекты реализованные в <span>Renga</span>
        .flex_row__around
            .item
                .img_wrap
                    img(src='img/done1.png' alt='')
                p
                    span
                        <b>Название:</b> Гостиница Чор-Су
                    span
                        <b>Автор:</b> Усманов Санжар Тимурович
            .item
                .img_wrap
                    img(src='img/done2.png' alt='')
                p
                    span
                        <b>Название:</b> Гостиница Чор-Су
                    span
                        <b>Автор:</b> Усманов Санжар Тимурович
                a(href='') Скачать
            .item
                .img_wrap
                    img(src='img/done3.png' alt='')
                p
                    span
                        <b>Название:</b> Гостиница Чор-Су
                    span
                        <b>Автор:</b> Усманов Санжар Тимурович
                a(href='') Скачать
            .item
                .img_wrap
                    img(src='img/done4.png' alt='')
                p
                    span
                        <b>Название:</b> Гостиница Чор-Су
                    span
                        <b>Автор:</b> Усманов Санжар Тимурович
                a(href='') Скачать
