.download#download
    .container.flex_column.align_center
        h2.flex_column.align_center СКАЧАТЬ
            span БЕСПЛАТНО
        .btn-wrap.flex_row__between
            span Renga <b>arсhitecture</b>
            a(class='' href='') СКАЧАТЬ
        .btn-wrap.flex_row__between
            span Renga <b>structure</b>
            a(class='' href='') СКАЧАТЬ
        .download_remark Полная версия на <b>60 дней</b> без ограничений