.header
    video(class="header_video vsc-initialized" src="video/header-video.mp4" autoplay="" loop="")
    .container
        .header_top.flex_row__between
            ul.header_top__menu.transpBox.flex_row__between
                li
                    a(href='') Акции
                li
                    a(href='') Контакты
                li
                    a(href='') Скачать
                li
                    a(href='') Renga architecture
                li
                    a(href='') Renga structure
            .header_top__call.transpBox.flex_column.align_center
                p.call-tel + 7 (812) 740-76-48
                div.call-btn заказать звонок

        .flex_column
            h1
                span.transpBox.left Renga

            p.subtitle
                span.transpBox.left Первая Российская BIM-система для проектирования

            ul.header_middle__menu.transpBox
                li
                    a(class='link-spy' href='#orderForm') <span>Купить</span> - экономия до 50%!
                li
                    a(class='link-spy' href='#application') <span>Сферы применения</span> - Инструменты для каждого специалиста!
                li
                    a(class='link-spy' href='#download') <span>Скачать</span> - бесплатную, полную версию
                li
                    a(class='link-spy' href='#done') <span>Реализованные проекты</span> - примеры работы выполненных в Renga
                li
                    a(class='link-spy' href='#video') <span>Видео</span> - приемы работы с Renga
                li
                    a(class='link-spy' href='#description') <span>Описание</span> - возможности, инструменты Renga
                li
                    a(class='link-spy' href='#contact') <span>Контакты</span> - связаться с нами, задать вопрос

    a(class='arrowDown link-spy' href='#orderForm')








