doctype html
html(lang="ru-Ru")
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Renga
        link(rel='stylesheet', href='css/concat-css-libs.min.css')
        link(rel='stylesheet', href='css/concat-css.min.css')
    body
        include header
        include order-form
        include application

        script(src='js/jquery-3.2.1.min.js')
        script(src='js/concat-js-libs.min.js')
        script(src='js/common.min.js')
