.orderForm#orderForm
    .container.flex_row__center.align_center
        form.flex_column.align_center
            .orderForm_title ФОРМА ЗАКАЗА
            .flex_column
                input(type='name' placeholder='Имя*')
                input(type='tel' placeholder='Телефон*')
                input(type='email' placeholder='Email')
                input(type='name' placeholder='Организация')
            <div class="checkbox">
                <input type="checkbox" id="checkbox-1" checked/>
                <label for="checkbox-1"><span>Renga <b>architecture</b></span> - 45 000 р.</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="checkbox-2"/>
                <label for="checkbox-2">I'm checkbox</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="checkbox-3"/>
                <label for="checkbox-3">I'm checkbox</label>
            </div>
            button(class='btn1' type='button') Получить
            .agreement Нажимая на кнопку, вы принимаете <a class='' href=''>Положение</a> и <a class='' href=''>Согласие</a> на обработку персональныых данных.

        .orderForm_right Renga за <span>45 000</span> рубей
