.orderBottom
    .container
        .flex_row__between.align_center
            .transpBox_wrap__first
                span.transpBox.left Renga за <span>45 000</span> руб.
            form.flex_column.align_center.transpBox
                .orderForm_title ФОРМА ЗАКАЗА
                .flex_column
                    input(type='name' placeholder='Имя*')
                    input(type='tel' placeholder='Телефон*')
                    input(type='email' placeholder='Email')
                    input(type='name' placeholder='Организация')
                <div class="checkbox">
                <input type="checkbox" id="checkbox-4" checked/>
                <label for="checkbox-4"><span>Renga <b>architecture</b></span> - 45 000 р.</label>
                </div>
                <div class="checkbox">
                <input type="checkbox" id="checkbox-5"/>
                <label for="checkbox-5">I'm checkbox</label>
                </div>
                <div class="checkbox">
                <input type="checkbox" id="checkbox-6"/>
                <label for="checkbox-6">I'm checkbox</label>
                </div>
                button(class='btn2' type='button') ЗАКАЗАТЬ
                .agreement Нажимая на кнопку, вы принимаете <a class='' href=''>Положение</a> и <a class='' href=''>Согласие</a> на обработку персональныых данных.