@import "common"

.contact {
	padding-top: 95px
	&_map {
		width: 545px
		height: 545px
		overflow: hidden
		border: 1px solid #989898
		border-radius: 100%
	}
	&_text {
		position: relative
		z-index: -1
		top: -80px
		padding: 100px 0 10px 0
		width: 372px
		font-family: latolight
		color: #6a7b8c
		text-align: center
		border: 1px solid #b6b6b6
		h4 {
			margin-bottom: 8px
			font-size: 42px
			line-height: 50px
		}
		p {
			font-size: 25px
			line-height: 29px
		}
		span {
			display: block
			margin-bottom: 20px
		}
	}
	form {
		padding: 100px 42px 38px 42px
		width: 360px
		.orderForm_title {
			font-family: latothin
			font-weight: 100
			font-size: 37px
		}
		.checkbox2 {
			color: #7f7f7f
		}
		.flex_column {
            margin: 12px 0 12px 0
        }
        .checkbox {
            display: flex
            align-self: flex-start
            margin: 5px 0 5px 8px
        }
		.btn3 {
			margin-top: 10px
		}
	}
}
