@import "common"

.footer {
	background: url(/img/footer.jpg) -280px 9px repeat-x
	.container {
		position: relative
		height: 100px
		&:before {
			content: ''
			position: absolute
			bottom: 62px
			right: 255px
			width: 300%
			height: 13px
			background: url(/img/footer-pattern.jpg) right repeat-x
		}
		&:after {
			content: ''
			position: absolute
			bottom: 10px
			right: 20px
			width: 59px
			height: 65px
			background: url(/img/footer-logo.png)
		}
	}
	.flex_row__between {
		position: absolute
		left: 182px
		bottom: 15px
		font-family: latolight
		font-size: 21px
		color: #ffffff
	}
}

.Слой_30 {
	background-image: url("Слой 30.png");
	position: absolute;
	left: 3px;
	top: -91px;
	width: 1914px;
	height: 1043px;
	z-index: 217;
}
