.orderBottom {
	background: url(/img/orderBottom.jpg) top center
	.transpBox_wrap__first {
		padding: 40px 15px 40px 100px
		.transpBox.left {
			padding: 50px 15px 50px 80px
			height: 40px
			font-family: latobold
			font-size: 37px
			color: #6a7b8c
			background: url(/img/logo10.png) no-repeat 0 50%
			span {
				color: #f96160
			}
			&:before {
				background: #ffffff
				opacity: .8
			}
		}
	}
	form.transpBox {
		padding: 35px 42px 38px 42px
		width: 360px
		&:before {
			background: #ffffff
			opacity: .8
		}
		.flex_column {
			margin: 12px 0 12px 0
		}
		.checkbox {
			display: flex
			align-self: flex-start
			margin: 2px 0 2px 8px
		}
		button {
			margin: 8px 0 12px 0
		}
		.agreement {
			color: #000000
			a {
				color: darken(#6a9dcf, 40%)
			}
		}
	}

}
