.orderForm_title {
  font-size: 29px;
  color: #798897;
}
.orderForm .container {
  min-height: 910px;
}
.orderForm form {
  padding: 25px 42px 20px 42px;
  width: 360px;
  border: 1px solid #91bcc9;
}
.orderForm form .flex_column {
  margin: 12px 0 12px 0;
}
.orderForm form .checkbox {
  display: flex;
  align-self: flex-start;
  margin: 2px 0 2px 8px;
}
.orderForm form button {
  margin: 8px 0 12px 0;
}
